<?xml version="1.0" encoding="UTF-8"?>
<account>
	<frame width="1080" height="700">
		<startPanel>
			<component name="SIGN_UP_IMAGE" x="312" y="66" width="456" height="568"/>
			<component name="SIGN_UP_ICON" x="590" y="500" width="159" height="70"/>
			<component name="CLEAN_ICON" x="343" y="50" width="243" height="46"/>
			<component name="infor" x="340" y="515" width="284" height="37"/>
			<component name="label1" x="380" y="240" width="300" height="40"/>
			<component name="label2" x="380" y="320" width="300" height="40"/>
			<component name="label3" x="380" y="420" width="300" height="40"/>
			<component name="SIGN_IN_IMAGE" x="312" y="66" width="456" height="568"/>
			<component name="SIGN_IN_ICON" x="590" y="500" width="159" height="70"/>
		</startPanel>	
	</frame>
</account>